<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- add new book -->
<form>
    <!--<form action="#" th:action="@{/book/add}" th:object="${book}" method="post">-->

    <div class="row">
        hrhrhrh
        <!--<div class="form-group col-md-6">-->
            <!--<label for="name" class="col-form-label">Name</label>-->
            <!--<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">-->
            <!--<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>-->
        <!--</div>-->
        <!--<div class="form-group col-md-6">-->
            <!--<label for="email" class="col-form-label">Email</label>-->
            <!--<input type="text" th:field="*{desc}" class="form-control" id="email" placeholder="Email">-->
            <!--<span th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}" class="text-danger"></span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-6 mt-5">-->
            <!--<input type="submit" class="btn btn-primary" value="Add Book">-->
        <!--</div>-->
    </div>
</form>

</body>
</html>
