<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<br>
<h1>Welcome in my Library:</h1>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Author ID</th>
        <th>Genre ID</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.desc}"></td>
        <td th:text="${book.authorId}"></td>
        <td th:text="${book.genreId}"></td>
        <td>
            <a th:href="@{/book/update(id=${book.id})}" href="edit.html">Edit</a>
            /
            <a th:href="@{/book/delete(id=${book.id})}">Delete</a>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
